
<div class="text-center">
    <h1 class="text-info">Confirmación</h1>
    <p>Hemos recibido tu Consulta. Pronto nos pondremos en contacto contigo</p>
    <img src="/imagenes/patio.jpg" width="80%" />
</div>